/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

/* BODY */
body {
  background-color: #f6f7fb;
  color: #333;
}

/* LINKS */
a {
  text-decoration: none;
  color: inherit;
}

/* BUTTON DEFAULT */
button {
  cursor: pointer;
  transition: 0.3s ease;
}

button:hover {
  opacity: 0.9;
}

/* CONTAINER */
.container {
  width: 90%;
  margin: auto;
}

/* GRID LAYOUT (FOR PRODUCTS) */
